// USING DRY CSS PATTERN
// patter from Jeremy Clarke presentation
// original can be found https://vimeo.com/38063798

@import './variables.import.scss';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-container {
  display: grid;
  position: relative;
  grid-gap: 16px;
  grid-template-areas:
    "header"
    "selector"
    "content"
    'footer';
  background-color: $background-light;
  height: 100%;
}

.header-container {
  grid-area: header;
  height: 10vh;
  color: $text-color;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: $padding-vertical-base;
  padding: $padding-vertical-base $padding-horizontal-base;
}

.selectors-container {
  grid-area: selector;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#SELECTION_TEXT,
.selector,
.selection-text {
  font-size: 2rem;
  width: 30rem;
}

#LEFT_LABEL,
.selector-label,
.left_label {
  margin-right: 10px;
  font-size: 2rem;
}

#TITLE_CONTAINER,
.class-title,
.class-subtitle,
.header-container,
.footer-container,
.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-dark;
  width: calc(100% - #{$padding-horizontal-base} * 2);
  padding: $padding-vertical-base $padding-horizontal-base;
  text-align: left;
  color: $text-color;
}

#PRIMARY_CONTENT_CONTAINER,
.students-list,
.primary_content_container {
  background-color: $background-primary;
  width: 100%;
}

#PRIMARY_BUTTON,
.class-title button,
.primary_button {
  border: 0;
  cursor: pointer;
  background-color: $color-dark;
  display: flex;
  align-items: center;
}

#PRIMARY_BUTTON_HOVER,
.class-title button:hover,
.primary_button.hover {
  background-color: $color-light;
  border-radius: 50%;
}

.content-container {
  width: calc(100% - #{$padding-horizontal-base} * 2);
  margin: 20px 16px;
  background-color: $background-light;
  grid-area: content;
}

.class-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: $padding-vertical-base * 2;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.class-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.class-subtitle {
  background-color: $color-light;
}

.footer-container:after {
  grid-area: footer;
  height: 3vh;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
}

.submit-container {
  position: relative;
  background-color: red;
  width: 100%;
  margin-bottom: $padding-vertical-base * 4;

  button {
    position: absolute;
    right: 0;
  }

  p {
    margin-left: $padding-horizontal-base;
  }

}

.modal-container {
  background-color: $color-primary;
  position: absolute;
  width: 50vw;
  height: 30vh;
  left: calc(50% - (50vw / 2) - 32px);
  top: calc(50% - (30vh / 2 ) - 32px);
  padding: 32px;
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 2rem;
  }
  p {
    margin-top: $padding-vertical-base * 4;
    font-size: 1rem;
  }

  #icon {
    margin-top: $padding-vertical-base * 4;
    font-size: 4rem;
  }
}