$color-primary: #6200ea;
$color-light: #9d46ff;
$color-dark: #0a00b6;

$background-primary: #ede7f6;
$background-light: #fff;
$background-dark: #bbb5c3;

$text-color: #fff;

$padding-horizontal-base: 16px;
$padding-vertical-base: 8px;